<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimetricsData.Properties.Settings.TIMETRICS_DEVConnectionString"
            connectionString="Data Source=ORMEDHQ2-TECH6\MJSQLEXPRESS;Initial Catalog=TIMETRICS_DEV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>